.hero {
  padding-top: 0;
  background-color: $primary-bckg;

  @include tablet-large {
    padding-top: 60px;
    padding-bottom: 80px;
    box-shadow: 0 -120px 0 $secondary-color inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @include desktop-md {
    padding-top: 159px;
    padding-bottom: 136px;
  }

  .container {
    position: relative;

    @media (max-width: 767px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.hero__img {
  position: relative;
  bottom: -40px;
  right: -50px;
  width: 85%;

  @include tablet-large {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: 50px;
    right: 10px;
  }

  @include desktop-sm {
    width: 680px;
    top: 20px;
    right: -110px;
  }

  @include desktop-md {
    top: -40px;
    right: -60px;
  }
}

.hero__content {
  padding-top: 65px;
  background-color: $secondary-color;
  padding-bottom: 30px;

  @include tablet-large {
    background-color: transparent;
    padding-bottom: 150px;
    width: 57%;
  }
}

.hero__title {
  font-size: 30px;
  line-height: 0.95;
  margin-bottom: 30px;
  z-index: 1;
  font-weight: 800;
  color: $text-color;

  @include tablet-large {
    font-size: 40px;
    margin-bottom: 24px;
  }

  @include desktop-sm {
    font-size: 60px;
    line-height: 1.1;
  }
}

.hero__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-left: 0;
  letter-spacing: 0.9px;
  line-height: 1.18;
  margin-bottom: 0;
  z-index: 1;
  color: $text-color;

  @include tablet-large {
    letter-spacing: 0;
    margin-bottom: 26px;
  }

  @include desktop-sm {
    font-size: 28px;
  }
}

.hero__square {
  position: absolute;
  background-color: $secondary-color;
  width: 18px;
  height: 18px;

  &:nth-child(1) {
    top: 10px;
    right: 100px;

    @include tablet-large {
      width: 65px;
      height: 65px;
      top: -35px;
      right: -80px;
    }
  }

  &:nth-child(2) {
    top: 40%;
    right: 15%;

    @include tablet-large {
      top: auto;
      bottom: 155px;
      right: -80px;
      width: 40px;
      height: 40px;
    }
  }

  &:nth-child(3) {
    top: 120px;
    right: 240px;

    @include tablet-large {
      top: 0;
      left: 26%;
      width: 40px;
      height: 40px;
    }
  }

  &:nth-child(4) {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 40px;

    @include tablet-large {
      width: 65px;
      height: 65px;
      top: -72px;
      left: 0;
    }
  }

  &:nth-child(5) {
    width: 20px;
    height: 20px;
    top: 175px;
    left: 20px;

    @include tablet-large {
      width: 45px;
      height: 45px;
      top: 245px;
      left: -115px;
    }
  }

  &:nth-child(6) {
    display: none;

    @include tablet-large {
      display: block;
      width: 40px;
      height: 40px;
      left: 50%;
      bottom: 32%;
    }
  }
}
