section.hero
  .container
    .hero__squares
      span.hero__square(data-uk-parallax="y: 150;")
      span.hero__square(data-uk-parallax="y: 150;")
      span.hero__square(data-uk-parallax="y: 150;")
      span.hero__square(data-uk-parallax="y: 150;")
      span.hero__square(data-uk-parallax="y: 150;")
      span.hero__square(data-uk-parallax="y: 150;")
    .hero__img
        img(
          src="img/human-med.svg" 
          alt="Nurse with shadow in the form of superhero."
          data-scrollspy="animate__fadeInRight")
    .hero__content
      .container-hero
        h1.title.hero__title(data-scrollspy="animate__fadeInLeft") Caring is our superpower. Could it be yours?
        h2.hero__subtitle(data-scrollspy="animate__fadeInLeft") Join our team of superhuman carers in Leicestershire.
        .hero__buttons
          button.button.button-apply(data-scrollto="#form") Apply now
          button.button.button-request(data-scrollto="#request") Request a callback