header.header
  .header__inner
    .header__container
        .header__logo
          img(
            src="img/logo.svg" 
            alt="Help at Home."
            data-scrollspy="animate__fadeInLeft")
        .header__buttons
          button.button.button-request(data-scrollto="#request") Request a callback
          button.button.button-apply(data-scrollto="#form") Apply now
