@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"),
    url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/subset-Arial-Black.woff2") format("woff2"),
    url("../fonts/subset-Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCondensedBold";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCondensedBlack";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
